.loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: black;
}

.dot {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-color: green;
    border-radius: 50%;
    animation: jump 1.5s infinite;
}

.dot-1 {
    animation-delay: 0s;
}

.dot-2 {
    animation-delay: 0.3s;
}

.dot-3 {
    animation-delay: 0.6s;
}

@keyframes jump {

    0%,
    70%,
    100% {
        transform: translateY(0);
    }

    35% {
        transform: translateY(-20px);
    }
}