.calculator {
    width: 300px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

#display {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    padding: 10px;
    background-color: #eaeaea;
    border: 1px solid #ccc;
    cursor: pointer;
}

button:hover {
    background-color: #d3d3d3;
}

button.operator {
    background-color: #ffa500;
    color: #fff;
}

button.operator:hover {
    background-color: #e59400;
}

button.special {
    background-color: #7c7c7c;
    color: #fff;
}

button.special:hover {
    background-color: #5c5c5c;
}