.container {
    display: grid;
    grid-template-columns: repeat(3, 33.3333%);
    grid-template-rows: 25% 25% auto;
    height:calc(160px * 3);
    gap: 10px;
}

.vertical {
    background-color: aqua;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.middle-tile {
    background-color: blue;
    grid-column: 2 / 3;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% auto ;
    gap: 10px;
}

.tiles {
    background-color: yellow;
    grid-column: 1 / 2;
}

.wide-tile {
    background-color: crimson;
    grid-column: 1 / 3;
}

.tall-tile {
    background-color: mediumspringgreen;
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}

.middle-image {
width: 80%;
justify-self: center;
}

.photos {
    align-items: center;
    margin: 20%;
}