.parent {
    position: relative;
    background-color: darkseagreen;
    border-style:dotted;
    border-color: purple;
    border-width: 10px;
    padding: 15%;
}

.child {
    width: 450px;
    height: 350px;
    color: black;
    text-align: center;
    padding: 1%;
    position: absolute;
    border-style: dashed;
    border-color: darkorchid;
    border-width: 5px;
}

.child1 {
    background-color: cadetblue;
    bottom: 18%;
    left: 0px;
}

.child2 {
    top: 30px;
    right: 30px;
    background-color: darkkhaki;
}

.child3 {
    bottom: 0px;
    left: 400px;
    background-color: plum;
}