.flex-container {
    display: flex;
}

.item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid grey;
}

img {
    max-width: 100%;
    margin-bottom: 10px;
    border: 5px solid black;
}

button {
    padding: 8px 16px;
}

footer {
    text-align: center;
}